<% provide(:title, "Вход") %>
<h1>Не узнаю Вас в гриме!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, 'Куда получаете письма?' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Тайное слово!" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Войти", class: "btn btn-light" %>
    <% end %>

  </div>
</div>