<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Я помню чудное мгновение..." %>
    <%= f.text_field :author, placeholder: "Александр Сергеевич", class: "post_field" %>
  </div>
  <%= f.submit "Высказать!", class: "btn btn-light" %>
<% end %>